<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;精彩案例&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;最新案例&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            {{!-- <div class="taglist">
                        <a href="/archives/category/allwork/newworks/通信电器/?id=30" class="tag">通信电器</a><a
                            href="/archives/category/allwork/newworks/交通运输/?id=31" class="tag tagon">交通运输</a><a
                            href="/archives/category/allwork/newworks/旅游酒店/?id=32" class="tag">旅游酒店</a><a
                            href="/archives/category/allwork/newworks/服饰时尚/?id=33" class="tag">服饰时尚</a><a
                            href="/archives/category/allwork/newworks/金融保险/?id=35" class="tag">金融保险</a><a
                            href="/archives/category/allwork/newworks/生活日化/?id=36" class="tag">生活日化</a><a
                            href="/archives/category/allwork/newworks/食品饮料/?id=38" class="tag">食品饮料</a><a
                            href="/archives/category/allwork/newworks/电子商务/?id=39" class="tag">电子商务</a><a
                            href="/archives/category/allwork/newworks/其他/?id=40" class="tag">其他</a>
                    </div> --}}
            <div class="anlilist">
                {{#each examples}}
                {{#if odd}}
                <div class="anlisingle">
                    <a href="{{link}}">
                        <img src="{{cover}}" width="476" height="302" class="anlipic">
                    </a>
                    <a href="{{link}}" class="anlititle">{{title}} | {{date}} 上传</a>
                </div>
                {{else}}
                <div class="anlisingleo">
                    <a href="{{link}}">
                        <img src="{{cover}}" width="476" height="302" class="anlipic">
                    </a>
                    <a href="{{link}}" class="anlititle">{{title}} | {{date}} 上传</a>
                </div>
                <hr class="line" />
                {{/if}}
                {{/each}}


            </div>
            {{{pager}}}
        </div>
        {{>example_right}}
    </div>
</div>