<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;精彩案例&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;最新案例&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="taglist">
                <a href="/example/list/1?type=通信电器" data-type="通信电器" class="tag">通信电器</a>
                <a href="/example/list/1?type=交通运输" data-type="交通运输" class="tag">交通运输</a>
                <a href="/example/list/1?type=旅游酒店" data-type="旅游酒店" class="tag">旅游酒店</a>
                <a href="/example/list/1?type=服饰时尚" data-type="服饰时尚" class="tag">服饰时尚</a>
                <a href="/example/list/1?type=金融保险" data-type="金融保险" class="tag">金融保险</a>
                <a href="/example/list/1?type=生活日化" data-type="生活日化" class="tag">生活日化</a>
                <a href="/example/list/1?type=食品饮料" data-type="食品饮料" class="tag">食品饮料</a>
                {{!-- <a href="/example/list/1?type=电子商务" data-type="电子商务" class="tag">电子商务</a> --}}
                <a href="/example/list/1?type=其他" data-type="其他" class="tag">其他</a>
            </div>
            <div class="anlilist">
                {{#each examples}}
                {{#if odd}}
                <div class="anlisingle">
                    <a href="{{link}}">
                        <img src="{{cover}}" width="476" height="302" class="anlipic">
                    </a>
                    <a href="{{link}}" class="anlititle">{{title}} | {{date}} 上传</a>
                </div>
                {{else}}
                <div class="anlisingleo">
                    <a href="{{link}}">
                        <img src="{{cover}}" width="476" height="302" class="anlipic">
                    </a>
                    <a href="{{link}}" class="anlititle">{{title}} | {{date}} 上传</a>
                </div>
                <hr class="line" />
                {{/if}}
                {{/each}}


            </div>
            {{{pager}}}
        </div>
        {{>example_right}}
    </div>
</div>
<script>
    function parseQueryString(searchStr) {
        var query = {};
        if (searchStr.indexOf('?') == 0) {
            searchStr = searchStr.substr(1);
        }
        var arr = searchStr.split('&');
        arr.forEach(function (q) {
            var p = q.split('=');
            query[p[0]] = p[1] === undefined ? '' : p[1];
        });
        return query;
    }
    $(function () {
        var query = parseQueryString(location.search), type = decodeURI(query.type);
        $(`a[data-type="${type}"]`).addClass('tagon')
    })
</script>