<link rel="stylesheet" href="/css/news.css" type="text/css" />
<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img
            src="http://www.hdtmedia.com/wp-content/themes/hdtmedia/assets/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;新闻动态&nbsp;&nbsp;<img
            src="http://www.hdtmedia.com/wp-content/themes/hdtmedia/assets/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;公司新闻&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">
            <div class="searchctn"><input id="searchkey" placeholder="请输入关键词"><button class="btnsearch">搜索</button></div>
            <div class="newslist" id="newslist">
                {{#each articles}}
                <ul class="newsitem">
                    <li class="newspic"><a href="{{link}}"><img
                                src="{{cover}}" width="100%" h></a></li>
                    <li class="newstitle">{{title}}</li>
                    <li class="newsdate">{{publish_date}}</li>
                    <li class="newsdetail">{{subtitle}}...<a
                            href="{{link}}" class="linkdetail">[阅读全文]</a></li>

                </ul>
                {{/each}}
            </div>
            {{{pager}}}

        </div>
        {{>contact_right}}
    </div>

    <script type="text/javascript">
        $(function () {

            $('.btnsearch').click(function () {
                var k = $("#searchkey").val();
                var u = encodeURIComponent(k);
                window.location.href = '/news/list/1?keyword=' + u;
            })




        });
    </script>
</div>