<div class="contentwrapper">
    <div class="navigator">首页&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;精彩案例&nbsp;&nbsp;<img src="/images/navidot.png" width="8"
            height="9">&nbsp;&nbsp;案例作品集&nbsp;&nbsp;</div>
    <div class="content">
        <div class="leftcolumn">

            <div class="anlilist">
                {{#each works}}
                {{#if odd}}
                <div class="anlisingle">
                    <a href="/works/detail/{{id}}">
                        <img src="{{cover}}" width="476" height="302" class="anlipic">
                    </a>
                    <a href="/works/detail/{{id}}" class="anlititle">{{title}}</a>
                </div>
                {{else}}
                <div class="anlisingleo">
                    <a href="/works/detail/{{id}}">
                        <img src="{{cover}}" width="476" height="302" class="anlipic">
                    </a>
                    <a href="/works/detail/{{id}}" class="anlititle">{{title}}</a>
                </div>
                <hr class="line" />
                {{/if}}
                {{/each}}


            </div>
            <div class="pager">
                <a href="/works/index/1">1</a>
                <a href="/works/index/2">2</a>
                <a href="/works/index/3">3</a>
            </div>
        </div>

        {{>example_right}}
    </div>
</div>